body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: lightgrey;
    background: #212121;
    font-size: 14px;
}

footer {
    color: grey;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    margin: 0px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

#right {
    position: absolute;
    width: 25%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #1c1e4a;
    padding: 10px;
}

#left {
    position: relative;
    width: 73%;
    left: 0px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.blue-rect {
    border-radius: 10px;
    background-color: midnightblue;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.right-list-item {
    margin: 10px 10px 20px;
}

.img-text-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.skills-list {
    list-style: square;
    padding: 0px;
    margin: 0px;
}

.skill-list-item {
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

.skill-list-item-level {
    display: inline;
    text-align: right;
}

.img-20px {
    width: 20px;
    height: 20px;
}

.img-company {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 30px;
}

.text-after-img {
    display: inline;
    vertical-align: top;
    margin-left: 5px;
}

.employment-list-element {
    display: block;
    background: #373737;
    margin: 20px;
    padding: 10px 10px 20px 10px;
}

.employment-date {
    color: white;
    font-family: Consolas, sans-serif;
}

.indented {
    text-indent: 50px;
}